<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152134110112-10bd6drt8af151irmhmv8cl3r664dp44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152134110112-10bd6drt8af151irmhmv8cl3r664dp44</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152134110112-6aeu9js7i7u6gddh05mg9ftkrhqiirup.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXDbiT8KXRGjA3sHgjnF42Fh6ljOOlxTY</string>
	<key>GCM_SENDER_ID</key>
	<string>152134110112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.godesq.uplift</string>
	<key>PROJECT_ID</key>
	<string>uplift-2316e</string>
	<key>STORAGE_BUCKET</key>
	<string>uplift-2316e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152134110112:ios:00b23915778a03b242b2c5</string>
	<key>DATABASE_URL</key>
	<string>https://uplift-2316e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>